<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>EcoClasificador IA</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

<div class="contenedor">

    <i class="fa-solid fa-recycle logo"></i>

    <h1>EcoClasificador IA</h1>

    <p class="descripcion">
        Sube una imagen y descubre si el objeto es reciclable o no.
    </p>

    <form method="POST" enctype="multipart/form-data">
    
    <button id="modoOscuro">
    🌙 Modo oscuro
    </button>

    <div class="consejo">
        <h3>🌱 Consejo ambiental</h3>
        <p id="textoConsejo"></p>
    </div>

        <input type="file" name="imagen" required>

        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            Clasificar Imagen
        </button>

    </form>

    {% if resultado %}

    <div class="resultado">

        <img src="{{ resultado.imagen }}">

        <h2>{{ resultado.clase }}</h2>

        <p>Confianza: {{ resultado.confianza }}%</p>

    </div>

    {% endif %}

</div>
<script>

const consejos = [
    "♻️ Separa los residuos antes de tirarlos.",
    "🌎 Reutiliza objetos antes de comprar nuevos.",
    "🚰 Usa botellas reutilizables para reducir plástico.",
    "🌱 Reciclar ayuda a disminuir la contaminación.",
    "🛍️ Evita usar bolsas plásticas de un solo uso.",
    "🍃 Reduce, reutiliza y recicla siempre que puedas."
];


let numero = Math.floor(Math.random() * consejos.length);

document.getElementById("textoConsejo").innerHTML = consejos[numero];

const boton = document.getElementById("modoOscuro");

boton.addEventListener("click", () => {

    document.body.classList.toggle("oscuro");

});


</script>

</body>
</html>